<!DOCTYPE html>
<html>
<head>
  <title>it's all code - <%= @video.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>
<body>
  <div class="wrap">
    <div class="header">
      <div class="nav">
        <% if logged_in? %>
          <p><a href="/videos">Admin View</a> &middot; <a href="/videos/new">New Video</a>  &middot; <a href="/logout">Logout</a></p>
        <% else %>
          <p><a href="/login">Login</a> &middot; <a href="/signup">Signup</a></p>
        <% end %>
      </div>
      <h1><a href="/">it's all code</a></h1>
      <h2><%= @video.title %></h2>
    </div>
    <div class="video_embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.yt_id %>" frameborder="0" allowfullscreen></iframe><br />
      <% if !@video.description.empty? %>
      <br />Description: <pre>
        <%=  @video.description%></pre>
      <% end %>

      <form method="POST" action="/videos/<%= @video.id %>/delete">
      <input type="submit" value="Delete Video" id="submit">
    </div>
    <footer>
      <p>&copy; 2017. it's all code.</p>
    </footer>
  </div>
</body>
</html>
